In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('us_customer_data 2.csv')

In [4]:
import re

def standardize_phone(number, default_country="1"):
    if number is None or pd.isna(number):
        return None
    cleaned = str(number)
    cleaned = cleaned.split("x")[0]

    # Keep only digits and '+' from the main number
    cleaned = re.sub(r'[^0-9+]', '', cleaned)

    # If it starts with '00', replace with '+'
    if cleaned.startswith("00"):

        cleaned = "+" + str(int(cleaned[0:3]))+ "-"+ cleaned[3:]

    # If it doesnâ€™t start with '+', assume default country code
    if not cleaned.startswith("+"):
        cleaned = "+" + default_country + "-"+ cleaned

    return cleaned


# Apply the standardization function to the phone column
data['phone'] = [standardize_phone(num) for num in data['phone']]

In [5]:
data.head(5)

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,None,"USNS Santiago, FPO AE 80872",2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,+1-7595188536,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,+1-3235253094,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,+1-9476334224,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,+1-8696505682,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold

In [8]:
# Cleaining the Name column
data['name'] = data['name'].str.strip().str.title()

In [ ]:
data.head(5)

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,None,"USNS Santiago, FPO AE 80872",2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,+1-7595188536,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,+1-3235253094,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,+1-9476334224,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,+1-8696505682,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold

In [ ]:
# Generating Email Id where it is missing
def generate_email(name,email, domain="example.com"):
    if email is not None and not pd.isna(email):
        return email.lower()
    if name is None or pd.isna(name):
        return None
    name_parts = name.split()
    if len(name_parts) < 2:
        return name.lower() + "@" + domain
    first_name = name_parts[0].lower()
    last_name = name_parts[-1].lower()
    return f"{first_name}.{last_name}@{domain}"

data['email'] = [generate_email(name,email) for name, email in zip(data['name'], data['email'])]

In [14]:
result = data[['customer_id', 'name', 'email', 'phone']]

In [1]:
pip install openpyxl

Requirement already satisfied: openpyxl in /Users/saikrishnakadupudi/.pyenv/versions/3.10.1/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/saikrishnakadupudi/.pyenv/versions/3.10.1/lib/python3.10/site-packages (from openpyxl) (2.0.0)
WARNING: You are using pip version 21.2.4; however, version 25.2 is available.
You should consider upgrading via the '/Users/saikrishnakadupudi/.pyenv/versions/3.10.1/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [19]:
import openpyxl
result.to_excel('cleaned_customer_data.xlsx', index=False)