In [2]:
import pandas as pd
import json
import requests 
from pandas import json_normalize

In [4]:

# Sample JSON data as a string
data_json = '''
[
  {
    "athlete": "Jim Walmsley",
    "year": 2019,
    "time": "14:09:28"
  },
  {
    "athlete": "Courtney Dauwalter",
    "year": 2023,
    "time": "15:29:34"
  },
  {
    "athlete": "Killian Jornet",
    "year": 2022,
    "time": null
  }
]
'''

In [5]:
data = json.loads(data_json)

In [6]:
df = pd.DataFrame(data)

In [7]:
df

              athlete  year      time
0        Jim Walmsley  2019  14:09:28
1  Courtney Dauwalter  2023  15:29:34
2      Killian Jornet  2022      None

In [8]:
df.to_json("Western_states_result.json",orient='records',indent=2)

In [9]:
df = pd.read_json("Western_states_result.json")

In [10]:
df

              athlete  year      time
0        Jim Walmsley  2019  14:09:28
1  Courtney Dauwalter  2023  15:29:34
2      Killian Jornet  2022      None

In [ ]:
import requests
import pandas as pd
import re
import sqlite3
from datetime import datetime

# Twitter API credentials
BEARER_TOKEN = "AAAAAAAAAAAAAAAAAAAAANzx3wEAAAAAYl0QfEvWfc5rPeUYnWABSgOBCzo%3DReBnc3iNmmeX4iGKtjfyKAu7ANOEs3ExKHjHKgM4xLu1B5tb6z"

# Query (hashtag)
query = "#BrandCampaign"

# Twitter API endpoint
url = "https://api.twitter.com/2/tweets/search/recent"

# Headers
headers = {"Authorization": f"Bearer {BEARER_TOKEN}"}

# Params
params = {
    "query": query,
    "tweet.fields": "id,text,author_id,created_at,public_metrics",
    "max_results": 50
}

# Request
response = requests.get(url, headers=headers, params=params)
if response.status_code != 200:
    raise Exception(f"Error: {response.status_code}, {response.text}")
raw_data = response.json()
# Save raw JSON to file
with open("tweets_raw.json", "w", encoding="utf-8") as f:
    json.dump(raw_data, f, ensure_ascii=False, indent=4)

print("âœ… Raw tweets JSON saved as tweets_raw.json")

Exception: Error: 429, {"title":"Too Many Requests","detail":"Too Many Requests","type":"about:blank","status":429}