In [3]:
import pandas as pd

In [1]:
!pip install pyarrow
# or
!pip install fastparquet

Requirement already satisfied: pyarrow in /Users/saikrishnakadupudi/.pyenv/versions/3.10.1/lib/python3.10/site-packages (20.0.0)
WARNING: You are using pip version 21.2.4; however, version 25.2 is available.
You should consider upgrading via the '/Users/saikrishnakadupudi/.pyenv/versions/3.10.1/bin/python3.10 -m pip install --upgrade pip' command.
Requirement already satisfied: fastparquet in /Users/saikrishnakadupudi/.pyenv/versions/3.10.1/lib/python3.10/site-packages (2024.11.0)
Requirement already satisfied: numpy in /Users/saikrishnakadupudi/.pyenv/versions/3.10.1/lib/python3.10/site-packages (from fastparquet) (2.1.2)
Requirement already satisfied: pandas>=1.5.0 in /Users/saikrishnakadupudi/.pyenv/versions/3.10.1/lib/python3.10/site-packages (from fastparquet) (2.2.3)
Requirement already satisfied: fsspec in /Users/saikrishnakadupudi/.pyenv/versions/3.10.1/lib/python3.10/site-packages (from fastparquet) (2025.9.0)
Requirement already satisfied: cramjam>=2.3 in /Users/saikrishnakadupudi/.pyenv/versions/3.10.1/lib/python3.10/site-packages (from fastparquet) (2.11.0)
Requirement already satisfied: packaging in /Users/saikrishnakadupudi/.pyenv/versions/3.10.1/lib/python3.10/site-packages (from fastparquet) (25.0)
Requirement already satisfied: tzdata>=2022.7 in /Users/saikrishnakadupudi/.pyenv/versions/3.10.1/lib/python3.10/site-packages (from pandas>=1.5.0->fastparquet) (2024.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/saikrishnakadupudi/.pyenv/versions/3.10.1/lib/python3.10/site-packages (from pandas>=1.5.0->fastparquet) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/saikrishnakadupudi/.pyenv/versions/3.10.1/lib/python3.10/site-packages (from pandas>=1.5.0->fastparquet) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/saikrishnakadupudi/.pyenv/versions/3.10.1/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
WARNING: You are using pip version 21.2.4; however, version 25.2 is available.
You should consider upgrading via the '/Users/saikrishnakadupudi/.pyenv/versions/3.10.1/bin/python3.10 -m pip install --upgrade pip' command.

In [4]:
weather_df = pd.read_parquet(r'../data/weather.parquet')
house_df = pd.read_parquet(r'../data/house-price.parquet')

In [5]:
#Transformation for house
house_df.head()
#mainroad	guestroom	basement	hotwaterheating	airconditioning	prefarea

house_df["mainroad"] = house_df["mainroad"].str.lower().map({"yes": True, "no": False})
house_df["guestroom"] = house_df["guestroom"].str.lower().map({"yes": True, "no": False})
house_df["basement"] = house_df["basement"].str.lower().map({"yes": True, "no": False})
house_df["hotwaterheating"] = house_df["hotwaterheating"].str.lower().map({"yes": True, "no": False})
house_df["airconditioning"] = house_df["airconditioning"].str.lower().map({"yes": True, "no": False})
house_df["prefarea"] = house_df["prefarea"].str.lower().map({"yes": True, "no": False})

In [6]:
house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    bool
 6   guestroom         545 non-null    bool
 7   basement          545 non-null    bool
 8   hotwaterheating   545 non-null    bool
 9   airconditioning   545 non-null    bool
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    bool
 12  furnishingstatus  545 non-null    object
dtypes: bool(6), int64(6), object(1)
memory usage: 33.1+ KB

In [7]:
house_df.head(10)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,True,False,False,False,True,2,True,furnished
1,12250000,8960,4,4,4,True,False,False,False,True,3,False,furnished
2,12250000,9960,3,2,2,True,False,True,False,False,2,True,semi-furnished
3,12215000,7500,4,2,2,True,False,True,False,True,3,True,furnished
4,11410000,7420,4,1,2,True,True,True,False,True,2,False,furnished
5,10850000,7500,3,3,1,True,False,True,False,True,2,True,semi-furnished
6,10150000,8580,4,3,4,True,False,False,False,True,2,True,semi-furnished
7,10150000,16200,5,3,2,True,False,False,False,False,0,False,unfurnished
8,9870000,8100,4,1,2,True,True,True,False,True,2,True,furnished
9,9800000,5750,3,2,4,True,True,False,False,True,1,True,unfurnished

In [8]:
ranges = {
    "price": (10000, 20000000),
    "area": (200, 10000),
    "bedrooms": (1, 6),
    "bathrooms": (1, 6),
    "stories": (1, 4),
    "parking": (0, 3)
}

# Create outlier flag
house_df["outlier_flag"] = 0  # initialize

for col, (min_val, max_val) in ranges.items():
    house_df["outlier_flag"] = house_df["outlier_flag"] | ((house_df[col] < min_val) | (house_df[col] > max_val))

# Convert boolean to integer
house_df["outlier_flag"] = house_df["outlier_flag"].astype(int)

In [10]:
house_df.shape

(545, 14)

In [11]:
house_df1 = house_df.drop_duplicates()
house_df1.shape

(545, 14)

In [17]:
weather_df.head(10)
weather_df.shape

(366, 22)

In [16]:
weather_df1 = weather_df.drop_duplicates(subset=["MinTemp","MaxTemp","Rainfall"])
weather_df1.shape

(365, 22)